[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==3.0.10"
plotly = "==4.14.3"
pandas = "==1.4.3"
streamlit = "==1.12.0"

[dev-packages]

[requires]
python_version = "3.10"
